body{
    background-color: rgba(214, 214, 214, 0.26);
}
a{
    text-decoration: none;
}
.bg-shadow{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.cose-category-bg{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.cose-category-bg:hover{
    transform: scale(1.1);
}


